* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
body {
    background-color: whitesmoke;
}
.software {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.software h1 {
    text-align: center;
    margin-bottom: 40px;
}
.grado {
    margin-bottom: 60px;
}
.grado a {
    display: block;
    margin: 10px 0;
    padding: 20px;
    color: #2f2f2f;
    border-radius: 10px;
}
.ambos {
    background: rgb(189,183,107);
    background: linear-gradient(90deg, rgba(189,183,107,1) 0%, rgba(0,206,209,1) 100%);
}
.sem1 {
    background-color: darkkhaki;
}
.sem2 {
    background-color: darkturquoise;
}
.colores {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}
.colores p {
    flex-grow: 1;
}
.color1, .color2, .color3 {
    /* width: 100px; */
    height: 50px;
    flex-grow: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.color1 {
    background-color: darkkhaki;
}
.color2 {
    background-color: darkturquoise;
}
.color3 {
    background: rgb(189,183,107);
    background: linear-gradient(90deg, rgba(189,183,107,1) 0%, rgba(0,206,209,1) 100%);
}